<!--signup page-->
doctype html
html
	head
		include ./partials/header
	body
		.container
			.row
				.page-header
					h3.text-center 编辑资料
				.col-md-2
				.col-md-8
					.flash-message
						if success
							.alert.alert-success.alert-dismissible.fade.in(role='alert')
								button.close(type='button', data-dismiss='alert', aria-label='Close')
									span(aria-hidden='true') &times;
								p #{success}
						if error
							.alert.alert-danger.alert-dismissible.fade.in(role='alert')
								button.close(type='button', data-dismiss='alert', aria-label='Close')
									span(aria-hidden='true') &times;
								p #{error}
					form(method='post', enctype='multipart/form-data')
						.form-group
							label(for='sex') 性别
							select#sex.form-control(name='sex')
								option(value='m') 男
								option(value='f') 女
								option(value='s') 保密
						.form-group
							label(for='uploadFile') 修改头像
							input#uploadFile(name='avatar', type='file')
						.form-group
							label(for='bio') 修改简介
							textarea#bio.form-control(name='bio', rows='4')
						button.btn.btn-primary(type='submit') 保存
		include ./partials/footer