#comment-div{
	margin-bottom: 20px;
}

.sm-avatar {
	width: 32px;
	height: 32px;
	border-radius: 3px;
	margin: 2px 10px 0 0;
	float: left;
}

a.title {
	font-size: 16px;
}

span.date {
	margin-left: 20px;
	font-size: 12px;
	color: gray;
}