/*sign*/
.setting-btn {
	position: fixed;
	right: 45px;
	top: 40px;
	z-index: 999;
}

.avatar {
	border-radius: 5px;
	width: 48px;
	height: 48px;
	float: right;
}

/*blog div*/
.blog-frame {
	padding: 0 20px 0 20px;
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 8px;
}

.comment-frame {
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding: 0 10px 10px 10px;
}

/*blog title*/
h3.blog a {
	color: #4fc08d;
}

.footer-tag {
	margin-bottom: 5px;
}

.tag {
	font-size: 13px;
	color: #999;
}

.tag.right {
	float: right;
	margin-left: 10px;
}

textarea.to-comment {
	width: 100%;
	resize: none;
}

.dropdown {
	position: relative;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 60px;
	min-width: 120px;
	padding: 5px 10px;
	background: #EED5B7;
	border: 1px solid purple;
	border-radius:5px;
	box-shadow: 3px 3px 3px #999;
}

.dropdown-content p.title {
	font-weight: bold;
	font-size: 16px;
}

.dropdown:hover .dropdown-content {
	transition-duration: 2s;
	display: block;
}