<!--发表博客页-->
doctype html
html
	head
		include ./partials/header
	body
		.container
			.row
				.header(style='height:100px;')
					h2.text-center(style='line-height: 100px') 发表博客
				.col-md-3
				.col-md-6
					.flash-message
						if success
							.alert.alert-success.alert-dismissible.fade.in(role='alert')
								button.close(type='button', data-dismiss='alert', aria-label='Close')
									span(aria-hidden='true') &times;
								p #{success}
						if error
							.alert.alert-danger.alert-dismissible.fade.in(role='alert')
								button.close(type='button', data-dismiss='alert', aria-label='Close')
									span(aria-hidden='true') &times;
								p #{error}
					form(method='post', enctype='multipart/form-data')
						.form-group
							label(for='title') 标题
							input#title.form-control(name='title', type='text', required)
						.form-group
							label(for='content') 内容
							textarea#content.form-control(name='content', rows='8', required)
						button.btn.btn-success(type='submit') 发布