<!--signup page-->
doctype html
html
	head
		include ./partials/header
	body
		.container
			.row
				.page-header
					h3.text-center 注册新用户
				.col-md-2
				.col-md-8
					.flash-message
						if success
							.alert.alert-success.alert-dismissible.fade.in(role='alert')
								button.close(type='button', data-dismiss='alert', aria-label='Close')
									span(aria-hidden='true') &times;
								p #{success}
						if error
							.alert.alert-danger.alert-dismissible.fade.in(role='alert')
								button.close(type='button', data-dismiss='alert', aria-label='Close')
									span(aria-hidden='true') &times;
								p #{error}
					form(method='post', enctype='multipart/form-data')
						.form-group
							label(for='signUpName') 用户名 (不超过10个字符)
							input#signUpName.form-control(name='username', type='text', placeholder='请输入您的用户名', required)
						.form-group
							label(for='signUpPassword') 密码(6-16位)
							input#signUpPassword.form-control(name='password', type='password', placeholder='请输入您的密码', required)
						.form-group
							label(for='re_signUpPassword') 确认密码
							input#re_signUpPassword.form-control(name='re_password', type='password', placeholder='请再次输入您的密码', required)
						.form-group
							label(for='sex') 性别
							select#sex.form-control(name='sex')
								option(value='m') 男
								option(value='f') 女
								option(value='s') 保密
						.form-group
							label(for='uploadFile') 上传头像 (可选)
							input#uploadFile(name='avatar', type='file')
						.form-group
							label(for='bio') 个人简介 (不超过40个字符)
							textarea#bio.form-control(name='bio', rows='4', placeholder='说点什么吧...')
						button.btn.btn-primary(type='submit') 注册
		include ./partials/footer
		script(src='/js/signup.js')